# Data Types and Structures Questions

1. What are data structures, and why are they important

ANS: Data structures are ways to organize and store data in a computer so it can be used efficiently. They are important because they help in managing large amounts of data, making searching, inserting, and deleting easier and faster.


2. Explain the difference between mutable and immutable data types with examples

ANS: Mutable data types can be changed after creation (like lists, dictionaries, sets). Immutable data types cannot be changed after creation (like strings, tuples). Example: a list can add/remove items, but a string cannot be changed directly.


3. What are the main differences between lists and tuples in Python

ANS: Lists are mutable, meaning elements can be changed, added, or removed. Tuples are immutable, meaning once created, elements cannot be changed. Also, lists use square brackets[ ] , while tuples use parentheses ( ).


4. Describe how dictionaries store data

ANS: Dictionaries store data as key-value pairs. Each key is unique, and it maps to a value. This makes looking up data very fast using the key.


5. Why might you use a set instead of a list in Python

ANS: A set is used when you need unique values without duplicates. Sets are also faster for checking membership (using 'in').


6. What is a string in Python, and how is it different from a list
ANS: A string is a sequence of characters enclosed in quotes. A list can hold different data types, but a string only holds characters. Also, strings are immutable, while lists are mutable.


7. How do tuples ensure data integrity in Python

ANS: Tuples are immutable, so once created, their data cannot be changed. This ensures that the stored data remains constant and safe from accidental modification.


8. What is a hash table, and how does it relate to dictionaries in Python

ANS: A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables.


9. Can lists contain different data types in Python

ANS: Yes, lists can contain elements of different data types, such as integers, strings, floats, or even other lists.


10. Explain why strings are immutable in Python

ANS: Strings are immutable to ensure security, efficiency, and thread safety. Once created, a string cannot be changed, which avoids unexpected behavior.


11. What advantages do dictionaries offer over lists for certain tasks

ANS: Dictionaries allow faster access to data using keys instead of indexes. This makes them better when quick lookups are needed.


12. How do sets handle duplicate values in Python

ANS: Sets automatically remove duplicate values. If you add the same element multiple times, it will appear only once in the set.


13. Describe a scenario where using a tuple would be preferable over a list

ANS: If you want to store data that should not change, such as coordinates (x, y), using a tuple is preferable to protect data from modification.


14. How does the 'in' keyword work differently for lists and dictionaries

ANS: In lists, 'in' checks if a value exists in the list. In dictionaries, 'in' checks if a key exists, not the value.


15. Can you modify the elements of a tuple? Explain why or why not

ANS: No, elements of a tuple cannot be modified because tuples are immutable.


16. What is a nested dictionary, and give an example of its use case

ANS: A nested dictionary is a dictionary inside another dictionary. Example: student = {'name': 'John', 'marks': {'math': 90, 'science': 85}}.


17. Describe the time complexity of accessing elements in a dictionary

ANS: Accessing elements in a dictionary has an average time complexity of O(1) because dictionaries use hash tables.


18. In what situations are lists preferred over dictionaries

ANS: Lists are preferred when the order of elements matters or when you need to store data sequentially without key-value mapping.


19. Why are dictionaries considered unordered, and how does that affect data retrieval

ANS: Dictionaries are unordered because they use hash tables, so data is not stored in a fixed sequence. Data retrieval is done by key, not position.


20. Explain the difference between a list and a dictionary in terms of data retrieval

ANS: In a list, data is retrieved using an index (position). In a dictionary, data is retrieved using a key.

#  Practical Questions

**1. Write a code to create a string with your name and print it**

In [1]:
name = "Tejas"
print(name)

Tejas

**2. Write a code to find the length of the string 'Hello World'**

In [2]:
text = "Hello World"
print(len(text))

11

**3. Write a code to slice the first 3 characters from the string 'Python Programming'**

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

**4. Write a code to convert the string 'hello' to uppercase**

In [4]:
text = "hello"
print(text.upper())

HELLO

**5. Write a code to replace the word 'apple' with 'orange' in the string 'I like apple'**

In [5]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

**6. Write a code to create a list with numbers 1 to 5 and print it**

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50]**

In [10]:
numbers = [10, 20, 30, 40, 50]
print(numbers[::-1])

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it**

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)**

In [13]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

**14. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit')**

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

**15. Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it**

In [15]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it**

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}**

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}**

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}**

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}**

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

**21. Write a code to create a dictionary with the keys 'name', 'age', and 'city', and print it**

In [21]:
person = {'name': 'John', 'age': 25, 'city': 'New York'}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

**22. Write a code to add a new key-value pair 'country': 'USA' to the dictionary {'name': 'John', 'age': 25}**

In [22]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key 'name' in the dictionary {'name': 'Alice', 'age': 30}**

In [23]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

**24. Write a code to remove the key 'age' from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}**

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key 'city' exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

**26. Write a code to create a list, a tuple, and a dictionary, and print them all**

In [26]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 10, 'b': 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result**

In [27]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[7, 18, 56, 67, 75]

**28. Write a code to create a list with strings and print the element at the third index**

In [28]:
words = ['apple', 'banana', 'cherry', 'date']
print(words[3])

date

**29. Write a code to combine two dictionaries into one and print the result**

In [29]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30. Write a code to convert a list of strings into a set**

In [30]:
words = ['apple', 'banana', 'cherry', 'apple']
word_set = set(words)
print(word_set)

{'cherry', 'banana', 'apple'}